<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Bookinfo</title>
</head>
<body>
<h1>蔵書管理</h1>

<p>
<a href="/">元に戻る</a>

<hr>

<table border>
<tr>
  <th>id</th>
  <th>タイトル</th>
  <th>著者</th>
  <th>ページ数</th>
  <th>出版日</th>
</tr>

<% @bookinfos.each do |info| %>
<tr>
<td><%= info.id %></td>
<td><%= info.title %></td>
<td><%= info.author %></td>
<td><%= info.page %></td>
<td><%= info.date_available %></td>
<form method="post" action="del">
<td><input type="submit" value="削除"></td>
<input type="hidden" name="id" value="<%= info.id %>">
<input type="hidden" name="_method" value="delete">
</form>
</tr>
<% end %>


</table>

</body>
</html>